BasedOnStyle: Microsoft
IndentWidth: 3
TabWidth: 3
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 0
AlwaysBreakTemplateDeclarations: Yes
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
PointerAlignment: Left
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
SortIncludes: false
NamespaceIndentation: All
AccessModifierOffset: -3
ContinuationIndentWidth: 3
ReflowComments: true
AlignTrailingComments: true

# Naming conventions (Clang 15+)
StatementMacros:
  - Q_UNUSED
  - UNUSED
  - ASSERT
